
:host {
    display: flex;
    flex-direction: column;
    transition: border .4s;
    border: 4px solid grey;
    cursor: pointer;
}

:host.column--full {
    cursor: not-allowed;
}

:host.column--player1:not(.column--full):hover {
    border-color: #ffff00c4;
}

:host.column--player2:not(.column--full):hover {
    border-color: #ff0000c4;
}